.custom-shape-divider-bottom-1641934665 {
  position: relative;
  top: -48px;
  margin-bottom: -48px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1641934665 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 49px;
}

.custom-shape-divider-bottom-1641934665 .shape-fill {
  fill: #ffffff;
}
