.custom-shape-divider-bottom-1641931750 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1641931750 svg {
  position: relative;
  display: block;
  width: calc(177% + 1.3px);
  height: 236px;
}

.custom-shape-divider-bottom-1641931750 .shape-fill {
  fill: #fff;
}
